doctype
html
  head
    - var path = ''
    - for(var i = 1; i < current.path.length - 1; i++)
    -  path += '../'
    link(rel="stylesheet" href= path + "css/main.css")
  body
    .banner
      .banner-header
        h3 Early Career Toolkit
      .banner-actions
        a.banner-action.github(href="https://github.com/dhakiki/early-career-toolkit" target = "_blank")
    .content-container
      .content
        != yield
      .footer-container
        .footer
          div Copyright @ 2016
          div The Early Career Toolkit is protected by the MIT license.
          div All Rights Reserved
